<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="Database" name="database" connectionStringName="DefaultConnection">
      <commandText>
        INSERT INTO Log (LogLevel, Timestamp, Message, Exception) 
        VALUES (@level, @time_stamp, @message, @exception)
      </commandText>
      <parameter name="@level" layout="${level}" />
      <parameter name="@time_stamp" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:format=tostring}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="database" />
  </rules>
</nlog>
